<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="ru.spbau.farutin_solikov.gpstracker">

	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">

		<activity
			android:name=".LoginActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.DarkActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".TrackerActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".AlarmActivity"
			android:screenOrientation="portrait"
			android:launchMode="singleTop"/>

		<activity
			android:name=".HistoryActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".RouteActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HistoryActivity"/>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:label="@string/title_activity_settings"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.DarkActionBar">
		</activity>

		<service
			android:name=".CoordinatesService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyAN3oIa-hIVpTEJ127q5KUlcWN_CdF9V_k"/>

	</application>
</manifest>
